 .app{
    background-color: rgb(27, 22, 48);
}

body{
    background-color: rgb(27, 22, 48);
}
.column{
    display: flex;
    flex-direction: column;
}

.row{
    display: flex;
    flex-direction: row;
}
.guide-text{
    color: white;
    text-align: center;
}